extends layout.pug

mixin stockEntry(stock)
  ul(class='unstyled-list')
    li ISIN: #{stock.isin()}
    li Anzahl: #{stock.ws().quantity()}
    li Total: #{stock.total()}
    li Price: #{stock.exchange().price()}
      small #{stock.exchange().time()}

block content
  div.row
    div.col-3
      +stockEntry(stock)
