extends layout.pug

mixin stockEntry(stock)
  .row.card.bg-light
    .card-header
      | #{stock.info().name()}
      small.float-right #{stock.info().wkn()}
    .row.card-body
      .col-6
        ul(class='list-unstyled')
          li Quantity: #{stock.ws().quantity()}
          li Price: #{stock.exchange().price()}
          li TER: #{stock.info().getTer()}
      .col-6
        ul(class='list-unstyled')
          li WKN: #{stock.info().wkn()}
          li ISIN: #{stock.isin()}
          li
            small Time: #{stock.exchange().time()}
    .card-footer
      .float-right
        strong #{stock.total()}

block content
  +stockEntry(stock)
